.form {
  background-color: #f2f2f2;
}

textarea {
  overflow: auto;
  resize: none;
  margin: 0 auto;
}

.form-textarea {
  border: 1px solid #000000;
  border-radius: 1px;
  background-color: #ffffff;
  height: 90px;
  width: 100%;
}

.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid #4eacd1;
}

.section-form {
  background-color: #f2f2f2;
  padding: 20px 0 20px 0;
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}

@media (min-width: 620px) {
  .form-textarea {
    height: 240px;
  }
}
